<div class="col-md-6 col-md-offset-3">
  <h2>
   #<%= ticket.id %>
  </h2>
  <%=
    form_for :ticket, routes.export_ticket_path(id: ticket.id) do
      submit 'Migrate ticket to Intercom'
    end
  %>
  <% messages.each do |message| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= message.author %> / <%= message.created_at %>
        </h3>
      </div>
      <div class="panel-body">
        <%= message.body %>
      </div>
    </div>
  <% end %>
</div>
